<h1>Movie #<%=@the_movie.id%> details</h1>

<dl>
  <dt>Title<dl>
  <dd><%=@the_movie.title%>
  <dt>Year<dl>
  <dd><%=@the_movie.year%>
  <dt>Duration<dl>
  <dd><%=@the_movie.duration%>
  <dt>Description<dl>
  <dd><%=@the_movie.description%>
  <dt>Image<dl>
  <dd><img src="<%=@the_movie.image%>" width = "100"></dd>
  <dt>Director<dl>
  <dd>
    <%@matching_records = Director.where({:id=>@the_movie.director_id}).at(0)%>
    <%=@matching_records.name%>
  </dd>

</dl>
